.movie {
  display: flex;
  width: 454px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  height: 281px;
}

.movie__image-content {
  width: 183px;
  height: 281px;
  flex-shrink: 0;
  position: relative;
}

.movie__image {
  width: 100%;
  height: 100%;
}

.movie__text-content {
  padding: 0 20px 0 20px;
}

.movie__name {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 400;
}

.movie__date {
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #827E7E;
  margin: 7px 0;
}

.movie__genres {
  display: flex;
  gap: 8px;
}

.movie__genre {
  background-color: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 4px;
}

.movie__description {
  font-size: 12px;
  line-height: 22px;
  margin-top: 7px;
  -webkit-line-clamp: 3;
  display: flex;
  flex-direction: column;  
  overflow: hidden;
  max-height: 70px;
}